@model List<barcoder.Models.Barcode>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-4">
    <div class="col">
        <form id="barcodeForm">
            <div class="form-group">
                <label for="barcodeText">Text</label>
                <input type="text" class="form-control" id="barcodeText" placeholder="Text for the barcode">
            </div>
            <div class="form-group">
                <label for="barcodeType">Type</label>
                <select class="form-control" id="barcodeType" asp-items="@(new SelectList(Model,"Value","Key"))">
                    <option>Select barcode type</option>
                </select>
            </div>
            <div class="form-group">
                <label for="barcodeWidth">Width</label>
                <input type="number" class="form-control" id="barcodeWidth">

                <input type="range" class="custom-range" id="barcodeWidthRange" value="300" min="0" max="4096">
            </div>
            <div class="form-group">
                <label for="barcodeHeight">Height</label>
                <input type="number" class="form-control" id="barcodeHeight">

                <input type="range" class="custom-range" id="barcodeHeightRange" value="30" min="0" max="1024">
            </div>
            <div class="form-group">
                <label for="barcodeRotate">Rotate</label>
                <input type="number" class="form-control" id="barcodeRotate">

                <input type="range" class="custom-range" id="barcodeRotateRange" value="0" min="0" max="360">
            </div>
            <button type="button" class="btn btn-success" id="barcodeSubmit" disabled>Create</button>
        </form>
    </div>
</div>
<div class="row mt-5 mb-5">
    <div class="col text-center">
        <img id="barcodeImg" src="#" style="display: none;" />
    </div>
</div>

<script>

</script>